@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Source+Sans+Pro|Ubuntu&display=swap');

body {
	background: linear-gradient(to bottom, #eee2dc, #bab2b5 );
}

h1 {
	font-size: 120px;
	font-weight: 900;
	font-family: 'Source Sans Pro', sans-serif;
}
h2 {
	font-family: 'oswald', sans-serif;
	font-weight: 800;
	color: #379683;
	font-size: 30px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	color: #557A95;
	font-weight: 500;
}

h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.header {
	line-height: 1;
	font-family: 'Oswald', sans-serif;
	padding: 10px;
	color: #123C69;
	font-weight: 900;
	text-align: center;
}

.about {
	font-size: 50px;
	font-weight: 900;
}


.slideshow {
	position: center;
	height: 60vh;
}

.hours {
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
	color: #557A95;
}

#slides {
	height: 100%;
	margin: 0 auto;
	padding: 10px;
}

footer img {
	height: 80px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding: 10px;
	float: left;
}

.credit {
	float: right;
}

a {
	color: red;
}

.card {
	background-color: rgba(172, 59, 97, 0);
	border: none;
	font-weight: 700;
	color: #557A95;
}
