@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Ubuntu&display=swap');

body {
	background-image: linear-gradient(#EDC7B7, #eee2dc); /* Standard syntax (must be last) */
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}
h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
h2 {
	color: #123C69
}

.header {
	line-height: 1;
	font-family: 'Oswald', sans-serif;
	padding: 10px;
	font-size: 40px;
	color: #AC3B61;
}

#name {
	text-align: left;
	
}
#address {
	text-align: right;
	padding: 10px;
}

.about {
	font-size: 50px;
}


.slideshow {
	position: center;
	height: 60vh;
}

.hours {
	padding: 10px;
	font-size: 20px;
	font-weight: 600;

}

#slides {
	height: 100%;
	margin: 0 auto;
	padding: 10px;
}

footer img {
	height: 80px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding: 10px;
	float: left;
}

.credit {
	float: right;
}
a {
	color: red;
}
